<p style="color: green"><%= notice %></p>

<%= render @festival %>

<div>
  <%= link_to "Edit this festival", edit_admin_festival_path(@festival) %> |
  <%= link_to "Back to festivals", admin_festivals_path %>

  <%= button_to "Destroy this festival", [:admin, @festival], method: :delete %>
</div>
